{% extends 'main/base.html' %}
{% load static %}

{% block title %}Туристична Агенція Your Planet|Гарячі Тури до Карпат та Європи{% endblock %}

{% block description %}Туристична агенція у Луцьку Your Planet. Гарячі тури. Знижки! Авторські автобусні тури по Україні та за кордон! 2550 грн. Забронювати тур.{% endblock %}
{% block og_description %}Туристична агенція у Луцьку Your Planet. Гарячі тури. Знижки! Авторські автобусні тури по Україні та за кордон! 2550 грн. Забронювати тур.{% endblock %}
{% block og_title %}Туристична Агенція Your Planet|Гарячі Тури до Карпат та Європи{% endblock %}
{% block img_intro %} {% static 'slider/5.jpg' %} {% endblock %}
{% block keywords %} Гарячі тури Туристична агенція Тури до Карпат з Луцька Піп Іван Рафтинг {% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="container ">
<h1 style="text-align: center">Наша компанія</h1>
    <div class="row">
        <div class="col-md-5">
            <img src="{% static 'proNas/fon.gif' %}" alt="">
        </div>
        <div class="col-md-7">
            <p> <br>«Your Planet» – одна перспективних та надійних турагенцій України. На ринку туризму ми існуємо більш ніж 2 роки, Велика кількість туристів вже переконалася у цьому. Наша гордість це те що ми розвиваємо не тільки закордонний туризм такий як Туреччина чи Єгипет але і Український туризм. Здійснюємо поїздки до Карпат. Походи у гори та до озер. Активні тури та тури вихідного дня.

                <br><br>Your Planet підшукає найвигідніші варіанти відпочинку. Моніторить гарячі тури та одразу пропонує клієнтові. Ми постійно навчаємося, слідкуємо за розвитком туризму в усьому світі та стараємося не відставати від своїх конкурентів. Постійно слідкуємо та переживаємо  24 години на добу коли наші туристи за кордоном чи на Українському відпочинку. Надаємо підтримку впродовж усієї відпустки.

                <br><br>Ми з впевненістю можемо сказати що на нас можна покластися!</p>
        </div>
    </div>
         <br><br>
<div class="row">
    <div class="col-md-7">
    <h3>Для бронювання туру необхідно:</h3>
    <br>
     <p><br>1) Визначитися з датою та періодом відпочинку. З цим зможуть вам допомогти наші менеджери.
        <br>2) Завітати до нас в офіс або забронювати тур онлайн.
        <br>3) Отримати документи та ваучер на поїздку зручно для вас: підійти на офіс, зустрітися із менеджером, отримати документи на електронну адресу.

     </p>
    <h3>Для бронювання в режимі онлайн необхідно:</h3>
    <p><br>– обрати тур та натиснути «Забронювати» (ми вам зателефонуємо для підтвердження та запропонуємо ще декілька варіантів),
        <br>– відправити нам на вайбер або на електронну адресу скани закордонних паспортів.
        <br>– оплатити тур повністю або частково із акцією раннє бронювання на наш рахунок
        <br>– після підтвердження бронювання отримати від нас необхідні документи (квитки, ваучер, пам'ятка туриста, договір)</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'proNas/fon1.gif' %}" alt="">
    </div>
</div>
</div>



{% endblock %}