{% extends 'main/base.html' %}
{% load static %}

{% block title %}Раннє бронювання|Передоплата – від 0%{% endblock %}

{% block description %}Туристична агенція у Луцьку Your Planet. Гарячі тури. Знижки! Авторські автобусні тури по Україні та за кордон! 2550 грн. Забронювати тур Онлайн.{% endblock %}
{% block og_description %}Туристична агенція у Луцьку Your Planet. Гарячі тури. Знижки! Авторські автобусні тури по Україні та за кордон! 2550 грн. Забронювати тур Онлайн.{% endblock %}
{% block og_title %}Туристична агенція у Луцьку Your Planet. Гарячі тури.{% endblock %}
{% block img_intro %} {% static 'rannebrony/1.gif' %} {% endblock %}
{% block keywords %} Раннє бронювання Передоплата – від 0% {% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<section class="container">
    <div style="width: 100%; text-align: center; margin-top: 5%">
        <img style="width: 100%;" src="{% static 'rannebrony/1.gif' %}" alt="">
    </div>

    <h1 ><strong>РАННЄ БРОНЮВАННЯ</strong></h1>
    <p >

        <strong>Раннє бронювання YOUR PLANET! це:
            <br><br>Передоплата – від 0% </strong>(з можливістю анулювати заявку без штрафів).
        <br><strong>Чудові ціни.</strong> Знижки на ваші улюблені готелі – аж до 50%*.

        <br><br> <strong>Ще більше гарантій з нами.</strong> Для нас безпека та оперативне інформування – це пріоритет. Тому ми ретельно стежимо за всіма змінами та одразу повідомляємо вам. Ми тримаємо руку на пульсі з партнерами, створюємо нові продукти, пропонуємо страхування, тестування та багато іншого. Усе – для спокійної і комфортної роботи.
        <br><br><strong>Різні акції, заходи та сюрпризи за напрямками.</strong> Адже ми хочемо, щоб ви завжди отримували більше, ніж очікуєте.
        <br><br><strong>Можливість постійно бути в тренді та стежити за тенденціями в подорожах.</strong></p>

        <br><br><h1><strong>Умови раннього бронювання:</strong></h1>

        <p><br> <br><strong>Період бронювання заявки:</strong> 01.09.2020 – 31.03.2021.
        <br><strong>Дати туру:</strong> цілорічні напрямки з 15.04.2021 до 31.10.2021, сезонні*** – з дати початку польотної програми Літо 2021 до закінчення польотної програми.
        <br><strong>Умови оплати діють:</strong> 01.09.2020 – 25.12.2020. Передоплата – 0% (з можливістю анулювати заявку без штрафів)**. Якщо заявка не анулюється у вказаний період, має бути внесена передоплата 25% – 26.12.2020.
        <br><strong>Щодо заявок, які заброньовані з 26.12.2020, діють стандартні умови оплати.</strong></p>



    <p>

    <br>
    <div style="text-align: center">
        <a href="{% url 'aviatravel' %}"><button type="button" class="btn btn-primary" style="width: 40%">Обрати тур</button></a>
    </div>
    <br>
</section>

{% endblock %}